html{
    position: relative;
    background: #F9F9F9;
}
@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Regular'), local('Avenir-Next-Regular'),
        url('./font/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('./font/AvenirNextCyr-Regular.woff') format('woff'),
        url('./font/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Avenir Next;
    scroll-behavior: smooth;
}
.totop{
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 50px;
    font-size: 20px;
    background-color: #DC434E;
    border: 5px solid #9E9E9E;
    z-index: 1;
    transition: 0.5s;
}
.totop:hover{
    scale: 1.1;
    transition: 0.5s;
}
#topc{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}
.wrapper__first{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 97px;
    left: 0px;
    top: 0px;
}
.wrapper__first-link{
    margin-top: 10px;
    padding: 0;
}
.wrapper__first-search{
    border: 1px solid #B7BCC0;
    width: 555px;
    height: 49.81px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper__first-logo{
    margin-left: 50px;
    object-fit:cover;
}
.input-search{
    border: 0;
    margin-left: 20px;
    font-size: 14px;
    background: #F9F9F9;
}
.search{
    margin-right: 20px;
}
.nubmer{
    margin-right: 6px;
    font-size: 14px;
}
.line{
    margin-left: 20px;
    margin-right: 20px;
}
.reg-log{
    margin-right: 6px;
    font-size: 14px;
}
.allheaderfirst{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    align-items: center;
}
.wrapper__second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
    height: 69.73px;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.nav-list-item{
    margin-right: 40px;
    padding-bottom: 5px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background:  no-repeat 0 100%;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    transition: background-size .3s ease;
}
.nav-list-item:last-child{
    margin-right: 0;
}
.nav-list-item:first-child{
    margin-left: 50px;
}
.nav-list-item:hover {
    background-size: 100% 2px;
}
.trashcanandtd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
}
.trashcan{
    margin-right: 19px;
}
.nuboflot{
    display: flex;
    font-size: 9px;
    color: white;
    margin-left: 1px;
}
.bagrslots{
    margin-left: 15px;
    margin-bottom: 20px;
    position: absolute;
    background-color: #9E9E9E;
    width: 12px;
    height: 12px;
    border-radius: 5px ;
    box-shadow: -6px 2px 15px rgba(57, 92, 60, 0.365291);
}
.candol{
   display: grid;
   grid-template-rows: 1fr 1fr;
}
.cantext{
    font-size: 12px;
    color: white;
    opacity: 0.7;
}
.candoltext{
    font-size: 14px;
    color: white;
}
.catalognbigfoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 30.5px;
    height: 504px;
}
.cattext{
    width: 303px;
    height: 504px;
    background-color: #FFFFFF;
    margin-left: 50px;
}
.bigfoto{
    width: 967px;
    height: 504px;
}
.nav_catalog-list{
    list-style-type: none;
}
.zakr{
    margin-left: 30px;
}
.catalogtov{
    margin-bottom: 9px;
    margin-top: 32px;
}
.catalog{
    color: #705658;
    font-size: 20px;
    letter-spacing: -0.78px;
    line-height: 27px;
    font-weight: bold;
    margin-left: 30px;
}
.redplank{
    display: block;
    width: 3px;
    height: 42px;
    margin-right: 30px;
    border-radius: 0px 2px 2px 0px;
}
.nav_catalog-list-item{
    line-height: 42px;
    font-size: 14px;
}
.nav_catalog-list-cont{
    display: flex;
    flex-wrap: nowrap;
}
.nav_catalog-list-cont:hover{
    background: rgba(255, 209, 207, 0.7);
    border-radius: 0px 2px 2px 0px;
}
.nav_catalog-list-cont:hover .redplank{
    background: red;
}
.nav_catalog-list-cont:hover .nav_catalog-list-item{
    color: black;
}
.textprod, .textprodnov, .textprodskid{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.hitprod{
    font-weight: bold;
    font-size: 20px;
    color: #705658;
}
.productselem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
}
.productelem-item{
    background: #FFFFFF;
    width: 303px;
    height: 290px;
}
.productelem-item:last-child{
    margin-right: 0;
}
.productelem-item:first-child{
    margin-left: 50px;
}
.prodel{
    margin: 20px 20px auto;
}
.nalichie{
    color: #4DA455;
    line-height: 19px;
    text-align: left;
}
.carts{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 263px;
    height: 152px;
}
.cartsetxt{
    margin-bottom: 20px;
    color: rgba(18, 33, 45, 0.7);
    font-size: 14px;
}
.buyncena{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cena{
    color: rgba(18, 33, 45, 0.7);
    font-weight: bold;
    margin-right: 8px;
}
.rub{
    color: #705658;
    font-weight: bold;
}
.buy{
    color:#DC434E;
    border: 1px solid #DC434E;
    background: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.scoropost{
    color: #D0021B;
}
.bigelembelttwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 162px;
    margin-right: 50px;
}
.bigbelt{
    height: 273px;
    width: 636px;
    background: #E8E8E8;
}
.cenbig{
    color: #FFFFFF;
    font-weight: bold;
}
.belt{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 263px;
    height: 152px;
}
.beltelem{
    margin: 30px 30px 30px 30px;
}
.beltprod{
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #705658;
    font-weight: bold;
}
.cenpodr{
    font-size: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.podrobnee{
    margin-top: 36px;
    width: 200px;
    height: 50px;
    padding: 16px 62px 16px 62px;
    background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
    box-shadow: 0px 2px 7px rgba(120, 137, 149, 0.254784);
    border-radius: 3px;
    color: #FFFFFF;
}
.cenandpodr{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.part1{
    margin-left: 50px;
    margin-top: 155px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.onas{
    margin-bottom: 16px;
    color: #705658;
}
.onastxt{
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 22px;
    color: rgba(18, 33, 45, 0.7);
}
.part2{
    background: #C02336;
    height: auto;
}
.troofooter{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.logoandprava{
    margin-top: 30px;
}
.foptunderlogotxt{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.1px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.servisandpod, .catalog, .numdandsite{
    margin-top: 30px;
    margin-bottom: 30px;
}
.servis, .catalogsmol, .numberfoot{
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 18px;
    height: 22px;
}
.email{
    margin-top: 15px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 18px;
    height: 22px;
}
.servislist, .smolcataloglist{
    list-style-type: none;
}
.servislist-item, .smolcalatologlist-item, .timework{
    line-height: 22px;
    letter-spacing: -0.1px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.8;
}
.linkfootserv, .smolcatlink{
    text-decoration: none;
    color: #FFFFFF;
}
.socialki{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.vk, .insta{
    margin-right: 10px;
}
.skidkaandemail{
    margin-top: 30px;
    margin-right: 50px;
}
.skidon{
    color: #FFFFFF;
    font-weight: bold;
}
.emailandbut{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 12px;
}
.emailinput{
    background: #C02336;
    color: #E8E8E8;
    width: 180px;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.emailbut{
    width: 144px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 2px 7px rgba(120, 137, 149, 0.254784));
    border-radius: 3px;
    background: #C02336;
    color: #E3E3E3;
}
.politika{
    color: #E3E3E3;
}
.politikalink{
    color: #FFFFFF;
}
.oplata{
    margin-top: 10px;
}
@media(max-width:40em)
{
    .wrapper__first-search,.trashcanandtd, .nubmer, .triang1, .line, .bigfoto{
        display: none;
    }
    .catalognbigfoto{
        justify-content: center;
    }
    .productselem, .nav-list{
        display: flex;
        justify-content: center;
    }
    .productelem-item{
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .productelem-item:last-child{
        margin-bottom: 0;
    }
    .totop{
        width: 50px;
        height: 50px;
        border: 3px solid #9E9E9E;
    }
    #topc{
        font-size: 15px;
    }
    .wrapper__first-logo{
        margin-left: 10px;
    }
    .allheaderfirst{
        margin-right: 10px;
    }
    .beltelem{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr; 
    }
    .bigbelt{
        margin-bottom: 20px;
        width: 340px;
        height: 450px;
    }
    .bigelembelttwo{
        margin-left: 20px;
        margin-right: 20px;
    }
    .cenandpodr{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bigbelt{
        width: 100%;
    }
    .cenpodr{
        margin-top: -100px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .podrobnee{
        margin: 0;
    }
    .troofooter{
        display: grid;
        grid-template-columns: 1fr;
    }
    .catalog{
        margin-left: 0;
    }
    .oplata{
        margin-bottom: 30px;
    }
    .logoandprava{
        margin-right: 50px;
    }
    .servisandpod, .catalog, .numdandsite{
        margin-bottom: 0;
    }
}